<div class="cursor-default bg-white">
  <p class="pb-2 pt-16 text-center text-sm uppercase tracking-wider">Customized Comfort, Day and Night</p>
  <p class="text-center text-4xl uppercase tracking-wider">Modern Life, Well Furnished</p>
  <div class="grid lg:p-8 md:grid-cols-3">
    <div class="group relative">
      <div class="overflow-hidden p-6">
        <img src="http://127.0.0.1:9292/assets/sofa.jpg" class="aspect-auto object-contain transition delay-150 duration-500 ease-in-out hover:scale-125" />
      </div>
      <div class="h-12 md:h-24 xl:h-36"></div>
      <div class="absolute bottom-4 left-0 right-0">
        <p class="my-2 text-center text-sm font-semibold group-hover:text-yellow-700">Sleeper Sofas</p>
        <p class="text-center text-sm">Multiple Styles & Options</p>
        <p class="text-center text-sm">Thousands of Possibilities</p>
      </div>
    </div>
    <div class="group relative">
      <div class="overflow-hidden p-6">
        <img src="http://127.0.0.1:9292/assets/motion.jpg" class="aspect-auto object-contain transition delay-150 duration-500 ease-in-out hover:scale-125" />
      </div>
      <div class="h-12 md:h-24 xl:h-36"></div>
      <div class="absolute bottom-4 left-0 right-0">
        <p class="my-2 text-center text-sm font-semibold group-hover:text-yellow-700">Motion Sofas</p>
        <p class="text-center text-sm">Multiple Styles & Options</p>
        <p class="text-center text-sm">Thousands of Possibilities</p>
      </div>
    </div>
    <div class="group relative">
      <div class="overflow-hidden p-6">
        <img src="http://127.0.0.1:9292/assets/recliner.jpg" class="aspect-auto object-contain transition delay-150 duration-500 ease-in-out hover:scale-125" />
      </div>
      <div class="h-12 md:h-24 xl:h-36"></div>
      <div class="absolute bottom-4 left-0 right-0">
        <p class="my-2 text-center text-sm font-semibold group-hover:text-yellow-700">Recliners</p>
        <p class="text-center text-sm">Multiple Styles & Options</p>
        <p class="text-center text-sm">Thousands of Possibilities</p>
      </div>
    </div>
  </div>
</div>

<div class="cursor-default bg-red-300">
  <div class="p-6 md:flex">
    <div class="md:w-3/4">
      <img src="http://127.0.0.1:9292/assets/sleeper2.jpg" />
    </div>
    <div class="space-y-2 p-4 md:w-1/4">
      <p class="text-3xl uppercase">Comfort Sleeper</p>
      <p class="pb-8">No Bars. No Springs. Pure Comfort.</p>
      <a class="mt-8 border border-black p-2 px-4">Browse Styles</a>
    </div>
  </div>
</div>

<div class="cursor-default bg-red-300">
  <div class="p-6 md:flex">
    <div class="space-y-2 p-4 md:w-1/4">
      <p class="text-3xl uppercase">Comfort Air</p>
      <p class="pb-8">Experience Modern Lounging</p>
      <a class="mt-8 border border-black p-2 px-4">Browse Styles</a>
    </div>
    <div class="md:w-3/4">
      <img src="http://127.0.0.1:9292/assets/recliner2.jpg" />
    </div>
  </div>
</div>
